*{
  padding: 0px;
  margin: 0px;
  text-decoration:none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

nav{
  background-color:rgb(241, 15, 15);
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

label.logo{
 color: white;
 font-size: 35px;
 font-weight: bold;
 line-height: 80px;
 padding: 0 100px;
}

label.logo:hover{
  color: aqua;
  transition: 0.15s;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin:0 5px; 
}

nav ul li a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 9px 15px;
  border-radius: 6px;
}

a.active,a:hover{
  background-color:rgb(35, 189, 206);
  transition: 0.15s;
}

.enrollform{
  padding-top: 80px;
}

.interface{
  
  padding-top: 80px;
  width: 100%;
  opacity: 60%;

}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom{
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(237, 11, 11);
  font-size: 60px;
  font-weight: bold;  
}

.container2{
  position: absolute;
  align-items: center;
}



.centered1, .centered2, .centered3{
  width: 100px;
}