<!DOCTYPE html>
<html ng-app="formApp">
<head>
    <title>User Information Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        angular.module('formApp', [])
            .controller('FormController', function($scope) {
                $scope.formData = {};
                $scope.submitForm = function() {
                    if ($scope.userForm.$valid) {
                        alert('Form successfully submitted');
                    }
                };
            });
    </script>
</head>
<body ng-controller="FormController">
    <form name="userForm" ng-submit="submitForm()" novalidate>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" ng-model="formData.name" required>
        <span ng-show="userForm.name.$touched && userForm.name.$error.required">Name is required.</span>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" ng-model="formData.email" required>
        <span ng-show="userForm.email.$touched && userForm.email.$error.required">Email is required.</span>
        <span ng-show="userForm.email.$error.email">Invalid email address.</span>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
